
body,
*,
h1,
video {
  margin: 0;
}


/* =============================================================================
   CSS
   ========================================================================== */

html, body {
  height: 100%;
}

/* ---- base ---- */

#testo {
  position: absolute;
  top: 25vh;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
  letter-spacing: -3px
}

#intro {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}


@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (min-width:320px) {
  h1 {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 7vw
  }
}


@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
#links {
  margin: 0 25px 10px;
  text-align: center;
}

#links a {
  color: white;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px
}

#links a .icon {
  cursor: pointer
}

@media (min-width: 320px) {
  #links a {
    margin-left: 1vw;
    margin-right: 1vw
  }
}

.icon {
  background: url("github.svg") no-repeat;
  background-size: 100%;
  width: 64px;
  height: 64px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s
}

.icon1 {
  background: url("email.svg") no-repeat;
  background-size: 100%;
  width: 64px;
  height: 64px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s
}
#popup1{
  visibility: hidden;
}
@media (min-width: 320px) {
  #popup1 {
  display: none;
  }
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;

  align-items: center;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 320px) {
  #particles-js {
    position: fixed;
  }
}
