@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

body,
*,
h1,
h4,
video {
  margin: 0;
}



html, body {
  height: 100%;
}
#testo {
  font-family: Hacked;
  position: absolute;
  top: 25vh;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

h1 {
  font-family: Hacked;
  color: white;
  font-weight: 200;
  font-size: 160%;
  text-align: center;
  letter-spacing: -3px
}

h4 {
  font-family: Hacked;
  color: white;
  font-weight: 200;
  font-size: 110%;
  text-align: center;
  letter-spacing: -3px
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}



